body{
  background:
    linear-gradient(135deg, #ffffff 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #ffffff 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #ffffff 25%, transparent 25%),
    linear-gradient(45deg, #ffffff 25%, transparent 25%);
  background-color: #28c324;
  background-size: 100px 100px;
  color: #23841f;
}


nav{
  background: #ffffff;
  border: 5px solid #28c324;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 97vw;
  z-index: 5;
}
    nav img{
      display: inline;
      clear: left;
      float: left;
      height: 55px;
      padding: 2px;
    }
    nav h1{
      display: inline-block;
      margin: 0;
      padding: 20px 15px 15px 15px;
    }
    nav ul{
      display: inline;
      clear: right;
      float:right;
    }
    nav ul li{
      display: inline-block;
      padding: 10px;
    }
    nav a{
      color: #23841f;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
    }
    nav a:hover{
      background-color: #28c324;
      box-shadow: 2px 2px 5px #bec0c4;
      color: #ffffff;
    }
    nav a.icon{
      display: none;
    }


#about{
  height: 60vh;
  margin: 50px;
}
    #about img{
      border: 2px solid #23841f;
      clear: left;
      float: left;
      height: 150px;
      margin: 0 15px 0 25px;
    }
    #about h1{
      display: inline;
    }


#links{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 225px 150px;
  height: 50vh;
  justify-items: center;
}
    #links a{
      margin: 50px auto 0 auto;
     }
    #links img{
      border: 2px solid #23841f;
      height: 125px;
      margin: 50px auto 0 auto;
      width: 250px;
    }
    #links p{
      text-align: center;
    }


#main{
  height: 50vh;
}
    #main a{
      color: #1e844e;
    }


#page_container{
  background: #ffffff;
  border: 5px solid #28c324;
  display: inline-block;
  height: auto;
  margin: 8vw 5vw 5vw 5vw;
  padding: 0 5px;
  width: 85vw;
}
    #page_container h1, h2{
      text-align: center;
    }


#quote_box{
  background-color: #ffffff;
  font-size: 28px;
  font-style: Oblique;
  font-weight: Bold;
  margin: 25px auto;
  text-align: center;
  }

  footer{
    color: black;
    font-size: 10px;
    text-align: center;

  }
